@font-face {
  font-family: "OpenSans";
  src: url("/fonts/OpenSans-Regular.woff2") format("woff2");
  font-display: swap;
  font-weight: 400;
}
@font-face {
  font-family: "OpenSans";
  src: url("/fonts/OpenSans-SemiBold.woff2") format("woff2");
  font-display: swap;
  font-weight: 600;
}
@font-face {
  font-family: "OpenSans";
  src: url("/fonts/OpenSans-Bold.woff2") format("woff2");
  font-display: swap;
  font-weight: 700;
}
@font-face {
  font-family: "OpenSans";
  src: url("/fonts/OpenSans-BoldItalic.woff2") format("woff2");
  font-display: swap;
  font-weight: 700;
  font-style: italic;
}
.top__content {
  position: relative;
}
.top__slide {
  background-color: var(--white-color);
  display: flex;
  align-items: center;
}
.top__slide-img {
  max-width: 480px;
  height: 400px;
}
.top__img {
  width: 100%;
  height: 100%;
  position: relative;
}
.top__details {
  padding-left: 48px;
  padding-right: 48px;
  padding-top: 24px;
  padding-bottom: 24px;
  max-width: 704px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
}
.top__title {
  font-size: 32px;
  font-weight: 700;
  font-style: italic;
  color: var(--main-color);
}
.top__text {
  width: 100%;
}
.top__btn {
  width: -moz-fit-content;
  width: fit-content;
  padding: 13px 24px;
  min-height: 48px;
}

.swiper__details {
  position: absolute;
  z-index: 1;
  bottom: 24px;
  left: 24px;
  display: flex;
  align-items: center;
}

.swiper-button-prev,
.swiper-button-next {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  cursor: pointer;
  transition: all 0.3s ease;
}
.swiper-button-prev:hover,
.swiper-button-next:hover {
  transform: translateY(-2px);
}

.swiper__details {
  position: absolute;
  z-index: 1;
  bottom: 24px;
  left: 24px;
  display: flex;
  align-items: center;
}
.swiper-button-prev {
  background-color: var(--white-color);
  color: var(--accent-color);
}
.swiper-button-prev::after {
  content: "";
  display: block;
  width: 9px;
  height: 15px;
  background-image: url("/img/icons/arrow-prev.svg");
  background-size: contain;
}
.swiper-button-next {
  background-color: var(--accent-color);
  color: var(--white-color);
}
.swiper-button-next::after {
  content: "";
  display: block;
  width: 9px;
  height: 15px;
  background-image: url("/img/icons/arrow-next.svg");
  background-size: contain;
}
.swiper-pagination {
  margin-left: 16px;
  display: flex;
  align-items: center;
  gap: 16px;
}
.swiper-pagination-bullet {
  transform: rotate(45deg);
  width: 15px;
  height: 15px;
  background-color: rgba(255, 255, 255, 0.4);
  transition: transform 0.3s, background-color 0.3s;
}
.swiper-pagination-bullet-active {
  background-color: #fff;
  width: 24px;
  height: 24px;
}

@media (max-width: 930px) {
  .top__slide {
    flex-direction: column;
    align-items: flex-start;
  }
  .top__slide-img {
    max-width: 100%;
    width: 100%;
  }
  .top__details {
    max-width: 100%;
    padding-left: 24px;
    padding-right: 24px;
  }
  .swiper__details {
    top: 55px;
  }
}
@media (max-width: 775px) {
  .swiper__details {
    top: 37px;
  }
}
@media (max-width: 661px) {
  .swiper__details {
    top: 15px;
  }
}
@media (max-width: 569px) {
  .swiper__details {
    top: -5px;
  }
}
@media (max-width: 489px) {
  .swiper__details {
    top: -30px;
  }
}
@media (max-width: 453px) {
  .swiper__details {
    top: -50px;
  }
}
@media (max-width: 425px) {
  .swiper__details {
    top: -70px;
  }
}
@media (max-width: 389px) {
  .swiper__details {
    top: -90px;
  }
}
@media (max-width: 363px) {
  .swiper__details {
    top: -110px;
  }
}
.search__inner {
  background-color: var(--main-color);
  padding: 48px;
  display: flex;
  align-items: center;
  gap: 48px;
}
.search__details {
  max-width: 449px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 71px;
}
.search__title {
  font-size: 32px;
  font-weight: 700;
  font-style: italic;
  color: var(--white-color);
}
.search__stars {
  display: flex;
  align-items: center;
  gap: 24px;
}
.search__modal {
  width: 100%;
  background-color: var(--white-color);
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.search__field {
  position: relative;
  border: 2px solid transparent;
  transition: all 0.5s ease;
}
.search__field::after {
  content: "";
  position: absolute;
  background-image: url("/img/icons/search.svg");
  width: 30px;
  height: 30px;
  top: 50%;
  left: 1%;
  background-repeat: no-repeat;
  transform: translateY(-50%);
  transition: opacity 0.3s ease, transform 0.3s ease;
  opacity: 1;
}
.search__field:hover {
  border-color: rgba(108, 111, 117, 0.3);
}
.search__field:focus-within, .search__field:active {
  border-color: var(--accent-color);
}
.search__field:focus-within .search__input, .search__field:active .search__input {
  padding: 13px 24px;
}
.search__field:focus-within::after, .search__field:active::after {
  opacity: 0;
  transform: translateY(-50%) scale(0.8);
}
.search__field.error {
  border-color: #CC4C4C;
}
.search__input {
  outline: none;
  border: none;
  width: 100%;
  padding: 13px 46px;
  transition: all 0.3s ease;
  font-size: 16px;
}
.search__btn {
  min-height: 48px;
  padding: 13px;
}

@media (max-width: 825px) {
  .search__inner {
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    gap: 16px;
  }
  .search__details {
    gap: 24px;
  }
}
.calendar-events__inner {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.calendar-events__title {
  font-weight: 700;
  font-style: italic;
  font-size: 32px;
  color: var(--main-color);
}
.calendar-events__title span {
  background-color: #FF6B00;
  color: var(--white-color);
  border-left: 7px solid #FF6B00;
  border-right: 10px solid #FF6B00;
}
.calendar-events__content {
  display: flex;
  align-items: flex-start;
  gap: 48px;
}

.calendar {
  position: relative;
  max-width: 480px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.calendar__header {
  padding: 14px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
  background-color: var(--accent-color);
  color: var(--white-color);
}
.calendar__months-icon {
  display: flex;
  align-items: center;
  gap: 12px;
}
.calendar__btn {
  background: none;
  border: none;
  transition: opacity 0.1s;
}
.calendar__btn:hover {
  opacity: 0.7;
}
.calendar__body {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.calendar__day-names,
.calendar .calendar__days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 4px;
  text-align: center;
  color: var(--main-color);
  justify-items: center;
  padding: 0 4px;
}
.calendar__days {
  row-gap: 5px;
}

.calendar__days span:not(.calendar__days-hidden) {
  cursor: pointer;
  width: 64px;
  height: 64px;
  background-color: var(--white-color);
  color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.1s;
}
.calendar__days span:not(.calendar__days-hidden):hover {
  color: var(--main-color);
  background-color: rgba(var(--text-color), 0.3);
}

.last,
.next {
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white-color);
  color: var(--text-color);
  cursor: default;
  pointer-events: none;
}

.calendar__days span.today {
  background-color: var(--accent-color);
  color: var(--white-color);
}

.calendar__days span.selected {
  background-color: var(--accent-color);
  color: var(--white-color);
}

.calendar__days span.today:not(.selected) {
  background-color: transparent;
  color: var(--main-color);
}

@media (max-width: 967px) {
  .calendar-events__content {
    gap: 24px;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 507px) {
  .calendar__days span:not(.calendar__days-hidden), .last, .next {
    width: clamp(3rem, -0.1667rem + 13.3333vw, 4rem);
    height: clamp(3rem, -0.1667rem + 13.3333vw, 4rem);
  }
  .calendar__days {
    padding: 0 11px;
  }
  .calendar-events__title {
    font-size: 24px;
  }
}
.events {
  max-width: 656px;
  width: 100%;
}
.events__inner {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.events__item {
  padding: 24px;
  background-color: var(--white-color);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}
.events__tags {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
}
.events__text {
  font-size: 18px;
  font-weight: 600;
  color: var(--main-color);
}
.events__btns {
  display: flex;
  align-items: center;
  gap: 24px;
}
.events__btn {
  width: -moz-fit-content;
  width: fit-content;
  min-height: 48px;
  font-size: 16px;
  font-weight: 400;
}
.events__btn.btn-white {
  padding: 0 38px;
}
.events__btn.btn-accent {
  position: relative;
  display: flex;
  align-items: center;
  gap: 13px;
  padding: 0 48px 0 32px;
  border-bottom-left-radius: 15px;
}
.events__btn.btn-accent svg {
  transform: translateY(1px);
}
.events__btn.btn-accent::after {
  content: "";
  position: absolute;
  width: 45px;
  height: 45px;
  rotate: 45deg;
  background-color: var(--white-color);
  right: -12%;
  top: -55%;
}

.tag {
  padding: 4px 8px;
  background-color: rgba(47, 93, 211, 0.1);
  color: #2F5DD3;
}

@media (max-width: 535px) {
  .events__btns {
    flex-direction: column;
    width: 100%;
  }
  .events__btn {
    width: 100%;
  }
  .events__btn.btn-accent::after {
    right: -23px;
    border-top-right-radius: 50%;
    border-top-left-radius: 80%;
  }
}
.register {
  position: relative;
}
.register__inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  position: relative;
}
.register__title {
  font-size: 32px;
  font-weight: 700;
  font-style: italic;
  color: var(--main-color);
}
.register-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  padding: 48px;
  background-color: var(--white-color);
  max-width: 580px;
  width: 100%;
}
.register__input {
  width: 100%;
  padding: 13px 24px 13px 24px;
  font-size: 16px;
  border: 2px solid rgba(108, 111, 117, 0.3);
  transition: all 0.3s ease;
}
.register__input:focus-within, .register__input:active {
  border-color: var(--accent-color);
}
.register-gender {
  margin-right: auto;
  display: flex;
  align-items: center;
  gap: 24px;
}
.register-gender label {
  display: flex;
  align-items: center;
  gap: 8px;
}
.register-gender__input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 24px;
  height: 24px;
  border: 2px solid var(--accent-color);
  cursor: pointer;
  position: relative;
}
.register-gender__input::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  bottom: 3px;
  right: 3px;
  background-color: transparent;
  transition: background-color 0.3s;
}
.register-gender__input:hover::after {
  background-color: rgba(47, 93, 211, 0.2);
}
.register-gender__input:checked::after {
  background-color: var(--accent-color);
}
.register-select {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 9px;
  width: 100%;
}

.select {
  width: 100%;
  position: relative;
}
.select.open-select .select__list {
  visibility: visible;
  opacity: 1;
}
.select.open-select .select__btn .icon {
  rotate: 180deg;
}
.select__btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--white-color);
  width: 100%;
  padding: 13px 24px 13px 24px;
  font-size: 16px;
  border: 2px solid rgba(108, 111, 117, 0.3);
}
.select__btn .icon {
  transition: rotate 0.3s;
}
.select__btn:focus-within, .select__btn:active {
  border-color: var(--accent-color);
}
.select__list {
  width: 100%;
  background-color: var(--white-color);
  border: 2px solid rgba(108, 111, 117, 0.3);
  position: absolute;
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s;
}
.select__item {
  width: 100%;
  padding: 13px 24px;
  transition: all 0.3s ease;
}
.select__item:hover {
  background-color: rgba(108, 111, 117, 0.3);
}

.register__btn {
  width: 100%;
  min-height: 48px;
  padding: 13px 24px;
}
.register__devider {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 24px;
}
.register__devider span {
  width: 100%;
  height: 1px;
  background-color: rgba(108, 111, 117, 0.3);
}
.register__devider-text {
  flex-shrink: 0;
}
.register__choice {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.register__choice-btn {
  width: 100%;
  min-height: 48px;
  padding: 0 24px;
}

.yandex {
  background-color: #FC3F1D;
}

.vkontakte {
  background-color: #0077FF;
}

.register__back {
  position: absolute;
  top: -250px;
  right: 0;
  left: 0;
  bottom: -50px;
  z-index: -2;
}
.register__back-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
.register__front {
  position: absolute;
  right: -15px;
  top: 30px;
  bottom: 0;
  left: 390px;
  z-index: -1;
}
.register__front-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

@media (max-width: 610px) {
  .register__front {
    display: none;
  }
  .register-form {
    padding: 24px;
  }
}/*# sourceMappingURL=main.css.map */