* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

a {
  color: inherit;
}

input[type=number] {
  -moz-appearance: textfield;
}

@font-face {
  font-family: "OpenSans";
  src: url("/fonts/OpenSans-Regular.woff2") format("woff2");
  font-display: swap;
  font-weight: 400;
}
@font-face {
  font-family: "OpenSans";
  src: url("/fonts/OpenSans-SemiBold.woff2") format("woff2");
  font-display: swap;
  font-weight: 600;
}
@font-face {
  font-family: "OpenSans";
  src: url("/fonts/OpenSans-Bold.woff2") format("woff2");
  font-display: swap;
  font-weight: 700;
}
@font-face {
  font-family: "OpenSans";
  src: url("/fonts/OpenSans-BoldItalic.woff2") format("woff2");
  font-display: swap;
  font-weight: 700;
  font-style: italic;
}
html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  --bg-color: #F3F4F7;
  --white-color: #fff;
  --text-color: #6C6F75;
  --main-color: #242A38;
  --accent-color: #2F5DD3;
  --container-width: 1216px;
}

body {
  font-size: 16px;
  font-weight: 400;
  font-family: "OpenSans";
  background-color: var(--bg-color);
  color: var(--text-color);
  overflow-x: hidden;
}

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 16px;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-accent, .btn-white {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  transition: all 0.3s ease;
  font-size: 16px;
  border: 1px solid var(--accent-color);
}
.btn-accent:hover, .btn-white:hover {
  filter: brightness(1.1);
}
.btn-accent:focus, .btn-white:focus {
  border: 1px solid var(--accent-color);
}
.btn-accent:active, .btn-white:active {
  transform: translateY(1px);
}
.btn-accent:disabled, .btn-white:disabled {
  transform: none;
}
.btn-accent {
  background-color: var(--accent-color);
  color: var(--white-color);
}
.btn-white {
  background-color: var(--white-color);
  color: var(--accent-color);
}

@media (max-width: 930px) {
  .wrapper {
    gap: 15px;
  }
}
.open-select {
  visibility: visible !important;
  opacity: 1 !important;
}

.rotate {
  rotate: 180deg !important;
}

.menu.open-menu {
  right: 0;
}

.header {
  background-color: var(--white-color);
  padding: 24px 0;
}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.logo__img {
  width: 100%;
  height: auto;
}

.menu__list {
  display: flex;
  align-items: center;
  gap: 24px;
}
.menu__link {
  font-size: 18px;
  font-weight: 600;
}

.number {
  font-weight: 700;
  font-size: 24px;
  color: var(--accent-color);
}

.menu__link-number {
  display: none;
}

.burger {
  background-color: var(--accent-color);
  width: 48px;
  height: 48px;
  display: none;
  align-items: center;
  justify-content: center;
}

.burger__btn {
  border: none;
  outline: none;
  position: relative;
  width: 18px;
  height: 12px;
  overflow: hidden;
  background-color: var(--accent-color);
}
.burger__btn::before, .burger__btn::after,
.burger__btn span {
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transition: 0.3s;
}
.burger__btn::before {
  content: "";
  left: 0;
  top: 0;
}
.burger__btn::after {
  content: "";
  left: 0;
  bottom: 0;
}
.burger__btn span {
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}
.burger__btn.active::before {
  rotate: 45deg;
  top: 3px;
}
.burger__btn.active::after {
  rotate: -45deg;
  bottom: 6px;
}
.burger__btn.active span {
  opacity: 0;
}

@media (max-width: 930px) {
  .menu {
    position: fixed;
    top: 13%;
    right: -100%;
    width: 100%;
    background-color: var(--white-color);
    border-top: 2px solid rgba(108, 111, 117, 0.3);
    z-index: 5;
    transition: all 0.5s ease;
  }
  .menu__list {
    padding: 24px;
    flex-direction: column;
    align-items: flex-end;
    gap: 0;
  }
  .menu__link {
    width: 100%;
    transition: bacground-color 0.3s;
    text-align: right;
    padding: 8px 0;
  }
  .menu__link:hover {
    background-color: rgba(108, 111, 117, 0.3);
  }
  .burger {
    display: flex;
  }
  .number {
    display: none;
  }
}/*# sourceMappingURL=page.css.map */