.header {
    background-color: var(--white-color);
    padding: 24px 0;
    position: relative;
    z-index: 10;

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
    }
}

.logo {
    &__img {
        width: 100%;
        height: auto;
    }
}

.menu {
    &__list {
        display: flex;
        align-items: center;
        gap: 24px;
    }

    &__link {
        font-size: 18px;
        font-weight: 600;
    }
}

.number {
    font-weight: 700;
    font-size: 24px;
    color: var(--accent-color);
}

.menu__link-number .number{
    display: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #7E7C7C, $alpha: 0.4); /* 🔴 красный с прозрачностью */
  z-index: 4;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.overlay.active {
  opacity: 1;
  pointer-events: all;
}



.burger {
    background-color: var(--accent-color);
    width: 48px;
    height: 48px;
    display: none;
    align-items: center;
    justify-content: center;
}

.burger__btn {
    border: none;
    outline: none;
    position: relative;
    width: 18px;
    height: 12px;
    overflow: hidden;
    background-color: var(--accent-color);

    &.active{
        width: 14px;
        height: 14px;
    }

    &::before,
    &::after,
    span {
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #fff;
        transition: 0.3s;
    }

    &::before {
        content: '';
        left: 0;
        top: 0;
    }

    &::after {
        content: '';
        left: 0;
        bottom: 0;
    }

    span {
        top: 50%;
        transform: translateY(-50%);
        left: 0;
    }

    &.active::before {
        rotate: 45deg;
        top: 50%;
        transform: translateY(-115%);
    }

    &.active::after {
        rotate: -45deg;
        bottom: 50%;
        transform: translateY(50%);
    }

    &.active span {
        opacity: 0;
    }
}


@media (max-width: 930px) {

    .menu {
        position: fixed;
        top: 99px;
        right: -100%;
        width: 100%;
        background-color: var(--white-color);
        border-top: 2px solid rgba($color: #6C6F75, $alpha: 0.3);
        z-index: 5;
        transition: all 0.5s ease;

        &__list {
            padding: 24px;
            flex-direction: column;
            align-items: flex-end;
            gap: 0;
        }

        &__link {
            width: 100%;
            transition: bacground-color 0.3s;
            text-align: right;
            padding: 8px 0;

            &:hover {
                background-color: rgba($color: #6C6F75, $alpha: 0.3);
            }
        }
    }

    .header__inner .number{
        display: none;
    }  

    .burger{
        display: flex;
    }

    .menu__link-number .number{
        display: block;;
    }

}