.top {
    &__content {
        position: relative;
    }

    &__slide {
        background-color: var(--white-color);
        display: flex;
        align-items: center;

        &-img {
            max-width: 480px;
            height: 400px;
        }
    }

    &__img {
        width: 100%;
        height: 100%;
        position: relative;
    }

    &__details {
        padding-left: 48px;
        padding-right: 48px;
        padding-top: 24px;
        padding-bottom: 24px;
        max-width: 704px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 24px;
        align-items: flex-start;
    }

    &__title {
        font-size: 32px;
        font-weight: 700;
        font-style: italic;
        color: var(--main-color);
    }

    &__text {
        width: 100%;
    }

    &__btn {
        width: fit-content;
        padding: 13px 24px;
        min-height: 48px;
    }
}

.swiper__details {
    position: absolute;
    z-index: 1;
    bottom: 24px;
    left: 24px;
    display: flex;
    align-items: center;
}

.swiper-button-prev,
.swiper-button-next {
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
        filter: brightness(1.1);
        transform: translateY(1px);
    }
}

.swiper {
    &__details {
        position: absolute;
        z-index: 1;
        bottom: 24px;
        left: 24px;
        display: flex;
        align-items: center;
    }

    &-button-prev {
        background-color: var(--white-color);
        color: var(--accent-color);

        &::after {
            content: '';
            display: block;
            width: 9px;
            height: 15px;
            background-image: url('/img/icons/arrow-prev.svg');
            background-size: contain;
        }
    }

    &-button-next {
        background-color: var(--accent-color);
        color: var(--white-color);

        &::after {
            content: '';
            display: block;
            width: 9px;
            height: 15px;
            background-image: url('/img/icons/arrow-next.svg');
            background-size: contain;
        }
    }

    &-pagination {
        margin-left: 16px;
        display: flex;
        align-items: center;
        gap: 16px;

        &-bullet {
            transform: rotate(45deg);
            width: 15px;
            height: 15px;
            background-color: rgba(255, 255, 255, 0.4);
            transition: transform 0.3s, background-color 0.3s;

            &-active {
                background-color: #fff;
                width: 24px;
                height: 24px;
            }
        }
    }
}

@media (max-width: 930px){
    .top{
        &__slide{
            flex-direction: column;
            align-items: flex-start;

            &-img{
                max-width: 100%;
                width: 100%;
            }
        }

        &__details{
            max-width: 100%;
            padding-left: 24px;
            padding-right: 24px;
        }
    }


    .swiper{
        &__details{
            top: 55px;
        }
    }
}

@media (max-width: 775px){
    .swiper{
        &__details{
            top: 37px;
        }
    }
}

@media (max-width: 661px){
    .swiper{
        &__details{
            top: 15px;
        }
    }
}

@media (max-width: 569px){
    .swiper{
        &__details{
            top: -5px;
        }
    }
}

@media (max-width: 489px){
    .swiper{
        &__details{
            top: -30px;
        }
    }
}

@media (max-width: 453px){
    .swiper{
        &__details{
            top: -50px;
        }
    }
}

@media (max-width: 425px){
    .swiper{
        &__details{
            top: -70px;
        }
    }
}

@media (max-width: 389px){
    .swiper{
        &__details{
            top: -90px;
        }
    }
}

@media (max-width: 363px){
    .swiper{
        &__details{
            top: -110px;
        }
    }
}